<div id="elsewhere">

    <h1 class="hugo-h3">
        Connect Me
    </h1>
    <p>
            <strong>i@tzingtao.com.</strong><br />Datone Student Centre, Tianjin University (Peiyang Villa Campus), Yakwan Road No. 135<br />
        Haihe Educational Park, Jinnan District, Tianjin, PRC 300350. 
    </p>

        <h1 class="hugo-h3">
        Friends
    </h1>
    <p>
        This section is dedicated to my friends who were, as well, strong enough<br />
        to have experienced the tribulation & hardships for maintaining a personal website.
    </p>
    <div class="friends-container">

        <a href="http://allenxa.com/" class="single-friend unstyled">
            <h2 class="friend-website-name">Re: Time</h2>
            <div class="friend-name">
                <div>Allen Bao</div>
                <div>Carnegie Mellon University</div>
            </div>
        </a>

        <a href="http://lumos.space/" class="single-friend unstyled">
            <h2 class="friend-website-name">Lumos Space</h2>
            <div class="friend-name">
                <div>Liwei Lu</div>
                <div>Peking University</div>
            </div>
        </a>

        <a href="https://tivility.github.io/" class="single-friend unstyled">
            <h2 class="friend-website-name">Tivility</h2>
            <div class="friend-name">
                <div>Muyuan Wae</div>
                <div>Harbin University of S&T</div>
            </div>
        </a>

        <a href="https://github.com/life2015" class="single-friend unstyled">
            <h2 class="friend-website-name">RetroX</h2>
            <div class="friend-name">
                <div>Chenyang Ji</div>
                <div>Alibaba Group</div>
            </div>
        </a>

        <a href="http://colinzang.me" class="single-friend unstyled">
            <h2 class="friend-website-name">Perfect Places</h2>
            <div class="friend-name">
                <div>Colin Zang</div>
                <div>Broken Papers Studio</div>
            </div>
        </a>

        <a href="https://www.liebes.top/" class="single-friend unstyled">
            <h2 class="friend-website-name">Liebes 偷偷盖的窝</h2>
            <div class="friend-name">
                <div>Hardy Wang</div>
                <div>Tianjin University</div>
            </div>
        </a>

        <a href="http://www.owlling.com/" class="single-friend unstyled">
            <h2 class="friend-website-name">Owlling</h2>
            <div class="friend-name">
                <div>Haibo Yu</div>
                <div>Tianjin University</div>
            </div>
        </a>

        <a href="https://cismon.net/" class="single-friend unstyled">
            <h2 class="friend-website-name">Pensieve</h2>
            <div class="friend-name">
                <div>Cheng Qiao</div>
                <div>Meituan</div>
            </div>
        </a>

        <a href="https://ame.moe/" class="single-friend unstyled">
            <h2 class="friend-website-name">雨の言葉</h2>
            <div class="friend-name">
                <div>Zhyupe</div>
                <div>Alibaba Group</div>
            </div>
        </a>

    </div>

</div>


<style>
    @keyframes vibrate{0%{transform:translate(0)}10%{transform:translate(-1px,-1px)}20%{transform:translate(1px,-1px)}30%{transform:translate(-1px,1px)}40%{transform:translate(1px,1px)}50%{transform:translate(-1px,-1px)}60%{transform:translate(1px,-1px)}70%{transform:translate(-1px,1px)}80%{transform:translate(-1px,-1px)}90%{transform:translate(1px,-1px)}100%{transform:translate(0)}}
    .friends-container {margin-top: 20px;}
    /*.friends-container {display:flex; justify-content:space-between; flex-wrap:wrap;}*/
    .single-friend {display:inline-block; width: 230px; margin-bottom: 20px; transition: all .2s}
    .single-friend:hover {animation:vibrate .5s linear infinite both}
    .friend-website-name {margin:0; font-size: 1rem;}
    .friend-name {font-size: 0.6em; opacity: 0.5;}
</style>
