<section id="about">

<h1 class="about-intro hugo-h1">
  Hello. I'm <span class="hugo-inverta-selection-container"><span class="hugo-inverta-selection">Tzingtao Chow</span></span>. I love code, design, typography & Icelandic post rock
  <a href="https://github.com/Cyphexl/ekki-mukk"><i class="suffix-icon fab fa-github"></i></a>
</h1>

</section>