#archive
  .post-list
    padding: 0

    .post-item
      margin-bottom: 5rem
      list-style-type: none

      .post-title
        margin-right: 10px
        a
          margin-right: 0
          @media (max-width: 480px)
            margin-right: 0

      .post-title:hover, .post-title:active
        background-color: $color-text
        a
          text-decoration: none
          color: $color-background
          position: relative

      .meta
        display: block
        margin-right: 16px
        min-width: 100px
        color: $color-meta
        font-size: 14px

      .post-tags
        display: inline-block
        vertical-align: top
        margin-top: 20px
        @media (max-width: 480px)
          margin-top: 5px