@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.suffix-icon
  font-size: 0.4em
  vertical-align: super
  animation: rotate-center 45s linear infinite both
  transition: all .2s
  

.suffix-icon:hover
  animation-play-state: paused
  opacity: 0.7