@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i&display=swap')

@font-face
  font-style: normal
  font-weight: normal
  font-family: "CamingoCode"
  src: url('../lib/camingo-code/39A07C_1_0.eot');
  src: url('../lib/camingo-code/39A07C_1_0.eot?#iefix') format('embedded-opentype'), url('../lib/camingo-code/39A07C_1_0.woff2') format('woff2'), url('../lib/camingo-code/39A07C_1_0.woff') format('woff'), url('../lib/camingo-code/39A07C_1_0.ttf') format('truetype');

@font-face
  font-style: normal
  font-weight: bold
  font-family: "CamingoCode"
  src: url('../lib/camingo-code/39A07C_2_0.eot');
  src: url('../lib/camingo-code/39A07C_2_0.eot?#iefix') format('embedded-opentype'), url('../lib/camingo-code/39A07C_2_0.woff2') format('woff2'), url('../lib/camingo-code/39A07C_2_0.woff') format('woff'), url('../lib/camingo-code/39A07C_2_0.ttf') format('truetype');

@font-face
  font-style: italic
  font-weight: normal
  font-family: "CamingoCode"
  src: url('../lib/camingo-code/39A07C_0_0.eot');
  src: url('../lib/camingo-code/39A07C_0_0.eot?#iefix') format('embedded-opentype'), url('../lib/camingo-code/39A07C_0_0.woff2') format('woff2'), url('../lib/camingo-code/39A07C_0_0.woff') format('woff'), url('../lib/camingo-code/39A07C_0_0.ttf') format('truetype');

@font-face
  font-style: italic
  font-weight: bold
  font-family: "CamingoCode"
  src: url('../lib/camingo-code/39A07C_3_0.eot');
  src: url('../lib/camingo-code/39A07C_3_0.eot?#iefix') format('embedded-opentype'), url('../lib/camingo-code/39A07C_3_0.woff2') format('woff2'), url('../lib/camingo-code/39A07C_3_0.woff') format('woff'), url('../lib/camingo-code/39A07C_3_0.ttf') format('truetype');

