antialias()
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

hyphens($value)
  hyphens: $value
  -moz-hyphens: $value
  -ms-hyphens: $value
  -webkit-hyphens: $value

underline($size, $color)
  text-decoration: underline

no-select()
  user-select: none
  -khtml-user-select: none
  -o-user-select: none
  -moz-user-select: none
  -webkit-user-select: none
