// Fonts
$font-family-body = "Raleway", "CamingoCode", "Menlo", "Meslo LG", "思源黑体", "微软雅黑", sans-serif
$font-family-mono = "CamingoCode", "Menlo", "Meslo LG", "微软雅黑", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 15px
$line-height = 1.725
$page-width = 1920px
$page-width-post = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
