$color-background = #262628
$color-footer-mobile-1 = lighten($color-background, 3%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 3%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #fafafa
$color-text = #fafafa
$color-accent-3 = #fafafa
$color-accent-2 = #fafafa
$color-accent-1 = #ffffff
$color-quote = #666
$color-dim-panel = alpha($color-accent-1, 0.94)
$highlight = hexo-config("highlight") || "rainbow"
