$color-background = #292929
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = #aa4332
$color-text = #c9cacc
$color-accent-3 = #c5a615
$color-accent-2 = #aa4332
$color-accent-1 = #c5a615
$color-quote = #aa4332
$highlight = hexo-config("highlight") || "rainbow"
