// by @GabiThume (https://github.com/gabithume)
$color-background = #e8e8e8
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #ae432f
$color-text = #363533
$color-accent-3 = #505968
$color-accent-2 = #505968
$color-accent-1 = #ae432f
$color-quote = #ae432f
$highlight = hexo-config("highlight") || "github"
